@{
    ViewBag.Title = "Home Page";
}

@*Home page index*@
<h1 style="text-align:center"><i>Welcome to Reviewed!</i></h1>
<h2 style="text-align:center">Where the reviews are made up, and the points don't matter.</h2>

<h3 style="text-align:center">About Us!</h3>
<p style="text-align:center">Bruce Wayne, eccentric billionaire.
It's ends here.
Someone like you. Someone who'll rattle the cages.
I seek the means to fight injustice. To turn fear against those who prey on the fearful.
No guns, no killing.
I'm Batman
I seek the means to fight injustice. To turn fear against those who prey on the fearful.
Bats frighten me. It's time my enemies shared my dread.
I'll be standing where l belong. Between you and the peopIe of Gotham.
My anger outweights my guilt.
Accomplice? I'm gonna tell them the whole thing was your idea.
I will go back to Gotham and I will fight men Iike this but I will not become an executioner.
It's not who I am underneath but what I do that defines me.
Does it come in black?
Well, you see... I'm buying this hotel and setting some new rules about the pool area.</p>

<h3 style="text-align:center">Who are we?</h3>
<p style="text-align:center">Well we are Batman.</p>